@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <!--Site Design by: SM Design Studios - Your Best Value in Web Design--><!--Author: Sean Motta--><!--For comments and questions contact:--><!--Sean Motta, Chief Design Officer--><!--smotta@smdesignstudios.com--><!--http://www.smdesignstudios.com--><!--Meta-->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    f

    <meta name="description" content="Lake Placid Mobile Home Park is a quite 55+ resident owned community located in Largo, FL">

    <!--Title-->
    <title>Homes Available - Lake Placid Mobile Home Park - Largo, FL</title>


    <!--Link Global CSS File-->

    <link href="Global_Styles.css" rel="stylesheet" type="text/css">

    <!--Link Menu Files-->

    <script src="SpryAssets/SpryMenuBar.js" type="text/javascript"></script>

    <link href="SpryAssets/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css">

    <!--Preload the images for the image flip functions-->

    <script language="javascript" type="text/javascript">





        /* LOT 88 */

        /*Primary Image */

        Image88_1 = new Image(600, 450)

        Image88_1.src = "Images/Homes/88/88_1.jpg"



        /*Image Thumnails */

        Image88_2 = new Image(600, 450)

        Image88_2.src = "Images/Homes/88/88_2.jpg"



        Image88_3 = new Image(600, 450)

        Image88_3.src = "Images/Homes/88/88_3.jpg"



        Image88_4 = new Image(600, 450)

        Image88_4.src = "Images/Homes/88/88_4.jpg"



        Image88_5 = new Image(600, 450)

        Image88_5.src = "Images/Homes/88/88_5.jpg"



        Image88_6 = new Image(600, 450)

        Image88_6.src = "Images/Homes/88/88_6.jpg"



        Image88_7 = new Image(600, 450)

        Image88_7.src = "Images/Homes/88/88_7.jpg"



        Image88_8 = new Image(600, 450)

        Image88_8.src = "Images/Homes/88/88_8.jpg"



        Image88_9 = new Image(600, 450)

        Image88_9.src = "Images/Homes/88/88_9.jpg"






    </script>

    <!--Image Flip Function-->

    <script language="javascript" type="text/javascript">






        /* LOT 88 */

        function original_88() {

            document.Main_88.src = Image88_1.src; return true;

        }

        function zoom88_2() {

            document.Main_88.src = Image88_2.src; return true;

        }

        function zoom88_3() {

            document.Main_88.src = Image88_3.src; return true;

        }

        function zoom88_4() {

            document.Main_88.src = Image88_4.src; return true;

        }

        function zoom88_5() {

            document.Main_88.src = Image88_5.src; return true;

        }

        function zoom88_6() {

            document.Main_88.src = Image88_6.src; return true;

        }

        function zoom88_7() {

            document.Main_88.src = Image88_7.src; return true;

        }

        function zoom88_8() {

            document.Main_88.src = Image88_8.src; return true;

        }

        function zoom88_9() {

            document.Main_88.src = Image88_9.src; return true;

        }



    </script>
</head>
<body>
    <!--BEGIN CONTENT-->

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-16477161-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <table style="margin: 0px; padding: 0px; width: 985px; height: 100%;" align="left" border="0" cellpadding="0" cellspacing="0">

        <!--Top Spacing Bar: COLORS-->
        <tbody>
            <tr>
                <!--Left-->
                <td style="height: 25px;" width="60">&nbsp;</td>
                <!--Menu Holder-->
                <td style="background-color: rgb(199, 129, 134);" width="225">&nbsp;</td>
                <!--Main Content Holder-->
                <td width="700">&nbsp;</td>
            </tr>
            <!--Title Bar-->
            <tr>
                <td style="height: 150px;">&nbsp;</td>
                <td style="height: 150px;" bgcolor="#0082cd">
                    <h3 style="font-size: 24px;" align="center">
                        Lake Placid <br>
                        <span style="font-size: 20px;">Mobile Home Park</span>
                    </h3>
                    <p class="Bold Eighteen" align="center"> Largo, FL </p>
                </td>
                <td style="margin: 0px; padding: 0px;" align="center"><!--Banner Image--> <img src="Images/Lake_Placid_Trans.png" alt="Lake Placid Banner" style="margin: 0px; padding: 0px;" border="0" width="680"> </td>
            </tr>
            <!--Content-->
            <tr>
                <!--Left Pad-->
                <td style="height: 950px;">&nbsp;</td>
                <!--Menu Holder-->
                <td style="padding: 10px;" bgcolor="#c45961" valign="top">
                    <!--MENU BAR-->
                    <p> <img src="Images/Bullet.png" alt="Bullet" style="padding-right: 5px;" border="0" height="9" width="6"> <a href="index.html" class="menubar">Home</a> </p>
                    <p> <img src="Images/Bullet.png" alt="Bullet" style="padding-right: 5px;" border="0" height="9" width="6"> <a href="About-Us.html" class="menubar">About Us</a> </p>
                    <p> <img src="Images/Bullet.png" alt="Bullet" style="padding-right: 5px;" border="0" height="9" width="6"> <a href="Location.html" class="menubar">Location</a> </p>
                    <p> <img src="Images/Bullet.png" alt="Bullet" style="padding-right: 5px;" border="0" height="9" width="6"> <a href="Park-Plan.html" class="menubar">Park Plan</a> </p>
                    <p> <img src="Images/Bullet.png" alt="Bullet" style="padding-right: 5px;" border="0" height="9" width="6"> <a href="Homes.html" class="menubar">Homes Available</a> </p>
                    <p> <img src="Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">  <a href="calendar.html" class="menubar">Calendar</a> </p>
                    <!-- <p> <img src="Images/Bullet.png" alt="Bullet" style="padding-right: 5px;" border="0" height="9" width="6"> <a href="Announcements.html" class="menubar">Announcements</a> </p> 	-->
                    <p> <img src="Images/Bullet.png" alt="Bullet" style="padding-right: 5px;" border="0" height="9" width="6"> <a href="Rules.html" class="menubar">Park Rules</a> </p>
                    <br>
                    <br>
                    <p> <strong>Lake Placid MHP</strong> </p>
                    <p>
                        980 7th St. NW <br>
                        Largo, FL 33770
                    </p>
                    <p> <a class="menubar" style="font-size: 18px;" href="mailto:info@lakeplacidpark.com">info@lakeplacidpark.com</a> </p>
                    <br>
                </td>
                <td style="padding: 0px; vertical-align: top;" bgcolor="#ffffff">
                    <!--CONTENT BEGINS HERE--><!--Image--> <img src="Images/Slideshow/8_b.jpg" alt="Lake Placid MHP" border="0" height="200" width="700"><!--Alignment Div-->
                    <div style="padding: 0px 10px;">
                        <!--Sub Header-->
                        <h2 style="margin: 5px 0px; padding: 0px;" align="left">
                            Homes
                            Available
                        </h2>
                        <p align="left">
                            <strong>Important information for Buyers:</strong>
                        </p>
                        <ul>
                            <li>A resident must be over 55 yrs of age.</li>
                            <li>There are no dogs or exotic pets allowed.</li>
                            <li>
                                Each homeowner must also be a shareholder, creating a
                                resident-owned community.
                            </li>
                            <li>Shares are included in the quoted price of the homes.</li>
                            <li>Monthly Maintenance Fees currently is $224/month.</li>
                            <li>
                                Professional management, water, sewer, lawn care, trash
                                pickup, cable and pest control are included in the Monthly Maintenance
                                Fee.
                            </li>
                            <li>Rules for Lake Placid Park are on the website <a href="https://lakeplacidpark.com/Rules.html" target="_blank" ;>here.</a></li>
                        </ul>


                        <br>
                        <br>		  <br>
                        <br>		  <br>
                        <br>


                        <!--
                                  <h3>There are no homes available at this time. Check back again soon.</h3>
                        -->




                        <a href="/index.html">Visit Index !</a>




                        <!--BEGIN LISTING - Lot # 88-->


                        <br>
                        <br>
                        <table align="center" border="1" cellpadding="4" cellspacing="0" width="620">
                            <tbody>
                                <tr>
                                    <td colspan="4" class="BG_Light_Blue"> <a name="L88" id="L88"></a> Lot # 88 [<a href="Park-Plan.html"><span style="font-size: 12px; font-style: italic; color: rgb(0, 0, 0);">Lot Locator</span></a>] </td>
                                </tr>
                                <tr>
                                    <td colspan="4" height="470">
                                        <div align="center"> <img src="Images/Homes/88/88_1.jpg" alt="Lot # 88" name="Main_88" id="Main_88" height="450" width="600"> </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="110" width="25%">
                                        <div align="center"> <img src="Images/Homes/88/88_2.jpg" alt="Lot # 88" onmouseover="zoom88_2()" onmouseout="original_88()" height="100" width="132"> </div>
                                    </td>
                                    <td width="25%">
                                        <div align="center">  <img src="Images/Homes/88/88_3.jpg" alt="Lot # 88" onmouseover="zoom88_3()" onmouseout="original_88()" height="100" width="132"> </div>
                                    </td>
                                    <td width="25%">
                                        <div align="center">  <img src="Images/Homes/88/88_4.jpg" alt="Lot # 88" onmouseover="zoom88_4()" onmouseout="original_88()" height="100" width="132"> </div>
                                    </td>
                                    <td width="25%">
                                        <div align="center">  <img src="Images/Homes/88/88_5.jpg" alt="Lot # 88" onmouseover="zoom88_5()" onmouseout="original_88()" height="100" width="132"> </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="110" width="25%">
                                        <div align="center">  <img src="Images/Homes/88/88_6.jpg" alt="Lot # 88" onmouseover="zoom88_6()" onmouseout="original_88()" height="100" width="132"> </div>
                                    </td>
                                    <td width="25%">
                                        <div align="center"> <img src="Images/Homes/88/88_7.jpg" alt="Lot # 88" onmouseover="zoom88_7()" onmouseout="original_88()" height="100" width="132"> </div>
                                    </td>
                                    <td width="25%">
                                        <div align="center">  <img src="Images/Homes/88/88_8.jpg" alt="Lot # 88" onmouseover="zoom88_8()" onmouseout="original_88()" height="100" width="132"> </div>
                                    </td>
                                    <td width="25%">
                                        <div align="center">  <img src="Images/Homes/88/88_9.jpg" alt="Lot # 88" onmouseover="zoom88_9()" onmouseout="original_88()" height="100" width="132"> </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div align="center"> <strong>Description:</strong> </div>
                                        <table border="0" cellpadding="0" cellspacing="0" width="95%">
                                            <tbody>
                                                <tr>
                                                    <td width="20%"> <strong>Price: </strong> </td>
                                                    <td width="80%"> $109,000.00 </td>
                                                </tr>
                                                <tr>
                                                    <td> <strong>Size:</strong></td>
                                                    <td> BRAND NEW 960 Sq Ft MANUFACTURED HOME! </td>
                                                </tr>
                                                <tr>
                                                    <td> <strong>Bedrooms:</strong> </td>
                                                    <td> 2 </td>
                                                </tr>
                                                <tr>
                                                    <td> <strong>Baths:</strong> </td>
                                                    <td> 2  </td>
                                                </tr>
                                                <tr>
                                                    <td> <strong>Additions:</strong> </td>
                                                    <td> 2-car driveway with full carport.</td>
                                                </tr>
                                                <tr>
                                                    <td> <strong>Furnished:</strong> </td>
                                                    <td> No </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;">
                                                        <strong>Comments:</strong>
                                                    </td>
                                                    <td> Wonderful open floor plan, lots of light, great Location near front of park. </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top"> <strong>Contact:</strong> </td>
                                                    <td> <a href="mailto:homes@lakeplacidpark.com">homes@lakeplacidpark.com</a> <br /><a href="https://www.zillow.com/homes/980-7th-St-NW-Lot-88-Largo,-FL,-33770_rb/47193461_zpid/" target="_blank">Click here for Zillow listing.</a></td>
                                                </tr>
                                        </table>
                                    </td>
                                </tr>
                        </table>



                        <!--END LISTING-->




                    </div>
                    <br>
                    <br>
                    <!--CONTENT ENDS HERE-->
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>